SMTP Fallback for Delivery and Read Notification

Checking "Receipt Notification" will successfully send the mail, but not trigger a delivery notification (probably a limitation of zimbra) and also return "undelivered mail returned to sender", even though the mail was actually sent.

[Undelivered Mail returned to sender..zip](https://github.com/cirosec-studis/zimbraweb-smtp-bridge/files/7694383/Undelivered.Mail.returned.to.sender.zip)

I propose to catch mail with this option and send it Over Fallback or reject, since the actually sent mail will not contain the delivery notification anymore

[RFC3464 Section 2: An Extensible Message Format for Delivery Status Notifications](https://datatracker.ietf.org/doc/html/rfc3464#section-2)